body {
background-color: rgb(27, 25, 25);
margin: 0;
  
background-image: url("SYSTEM.webp");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;


}



#container{
  display: flex;
  background-color: rgba(63, 62, 62, 0.6);

  padding: 10px;
  margin: 200px 270px;

  height: 60vh;
  width: 70vw;

  justify-content: center;
  align-items: flex-start;
}


a{
text-decoration: none;
text-align: center;

color: white;
background-color: black;


padding: 10px;
margin:0 10px;

height: 5vh;
width: 10vw;
}

a:hover{
  background-color: rgb(65, 64, 64);
}
