body {

margin: 0;
  
background-image: url("SYSTEM.webp");
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;


}

/*Header*/
header{
  font-family:fantasy;
 font-size: 40px;
  position: absolute;
  left: 400px;
  top:200px
   }



   /*navigationbar*/
nav{
  display: flex;
  background-color: rgba(63, 62, 62, 0.6);

  padding: 10px;
  margin: 200px 270px;

  height: 60vh;
  width: 70vw;

  justify-content: center;
  align-items:center;
}


div{
text-decoration: none;
text-align: center;

color: black;
background-color: rgba(190, 184, 184, 0.9);

border-radius: 20px;

padding: 10px;
margin:0 10px;

height: 5vh;
width: 10vw;
}

div:hover{
  background-color: rgb(65, 64, 64);
}

.marked{
 border: 1px solid white;
 font-size: large;
 }

 #are_you_experienced{
  display: flex;
  justify-content: center;
  align-items: center;
 }